
supermercado/obj/Debug/supermercado.pdb
supermercado/obj/Debug/supermercado.exe
supermercado/obj/Debug/supermercado.csprojResolveAssemblyReference.cache
supermercado/obj/Debug/supermercado.csproj.FileListAbsolute.txt
supermercado/bin/Debug/supermercado.pdb
supermercado/bin/Debug/supermercado.exe
